@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Lexend:wght@100..900&display=swap');


 /* // <uniquifier>: Use a uniquifier for the class name 
// <weight>: Use a value from 100 to 900 */
body{ background-color: black;}

.page {
    height: 100vh;
}


.main-bg{
        background: url(../images/space-bg.jpg) no-repeat center center;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        border-radius: 1.5rem;
        max-height: 75vw;
        padding: 6%;
        position: relative; 
}

.main-overlay{
    background-color: rgba(7, 4, 60, 0.8);
    color:white;
    padding: 10%;
    border-radius: 1.5rem;
}

.title {    
    font-size: 75px;
    font-family: "Audiowide", sans-serif;
    font-weight: 600;
    font-style: normal;}

.description{
    font-family: "Lexend", sans-serif;
    font-size: 30px;
    font-weight: 400;
    padding-top: 25px;
}

