/*----General styles----*/

/*-Google Fonts-*/

@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Lexend:wght@100..900&display=swap");

/*-Page backgrounds-*/

body {
	background-color: black;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0%
}

.sr-only{position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;}

	
.main-bg-home {
	background: url(../images/main-bg-sm.jpg) no-repeat center center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	border-radius: 1.5rem;
	padding: 3.5%;
	position: relative;
	min-width: 45vw;
}

.main-overlay-home {
	background-color: rgba(7, 4, 60, 0.8);
	color: white;
	padding: 4%;
	border-radius: 1.5rem;
}

/*- Styles applied to multiple pages-*/

.top-boarder-container {
	margin-bottom: 4%;
}

.description {
	font-family: "Lexend", sans-serif;
	font-size: 30px;
	font-weight: 400;
	padding-top: 6%;
}

.title {
	font-size: 75px;
	font-family: "Audiowide", sans-serif;
	font-weight: 600;
	font-style: normal;
	color: white;
	text-decoration: none;
}

.hidden {
	opacity: 0;
}

.home-buttons {
	margin-top: 4%;
}

/*- Modals-*/
.imodal-title {
	color: black;
	font-size: 30px;
	font-family: "Audiowide", sans-serif;
	font-weight: 600;
	font-style: normal;
	margin: 0 auto;
	padding-top: 5%;
}

.imodal-body {
	color: black;
	font-family: "Lexend", sans-serif;
	font-size: 15px;
	font-weight: 400;
	padding: 5% 3%;
}

.amodal-body {
	color: black;
	font-family: "Lexend", sans-serif;
	font-size: 15px;
	font-weight: 400;
	padding: 5% 5%;
	text-align: justify;
}

/*----Index.html styles----*/

.btn-home {
	color: black;
	background-image: linear-gradient(to right top,
			#e597f6,
			#d27ff0,
			#bd67eb,
			#a64fe7,
			#8a38e3);
	border-color: #3a096f;
	font-family: "Lexend", sans-serif;
	font-size: 20px;
	font-weight: 600;
	margin: 1vh;
	border-radius: 1rem;
	padding: 3%;
}

.btn-home:hover {
	cursor: default;
}

.btn-home a {
	text-decoration: none;
	cursor: pointer;
}

#info-btn-home:hover,
#about-btn-home:hover {
	text-decoration: none;
	cursor: pointer;
	background-image: radial-gradient(circle,
			#6ee4ef,
			#6adef2,
			#69d8f4,
			#6bd1f5,
			#70caf5);
	border-color: black;
}

.home-play {
	color: black;
	font-size: 20px;
}

.social-icon {
	color: #e597f6;
}

.social-icon:hover {
	color: #6ee4ef;
}

/*----Level.html styles----*/

.btn-level {
	color: black;
	font-family: "Lexend", sans-serif;
	background-image: linear-gradient(to right top,
			#e597f6,
			#d27ff0,
			#bd67eb,
			#a64fe7,
			#8a38e3);
	border-color: #3a096f;
	font-size: 20px;
	font-weight: 600;
	margin: 1vh;
	border-radius: 1rem;
	padding: 3%;
}

.title-a a {
	text-decoration: none;
}

.title-level:hover {
	color: #6ee4ef;
	cursor: pointer;
}


.one {
	background-image: radial-gradient(circle, #14ff5c, #10f154, #0be34c, #06d645, #00c83d);
	border-color: #00C83D;
}

.two {
	background-image: radial-gradient(circle, #ffb000, #f4a901, #eaa203, #df9b04, #d59405);
	border-color: #d59405;
}

.three {
	background-image: radial-gradient(circle, #e72b2b, #de2423, #d61c1b, #cd1412, #c40808);
	border-color: #c40808;
}

.btn-level a {
	text-decoration: none;
	color: black;
	cursor: pointer;
}

.btn-level:hover {
	cursor: default;
}


#back-btn-level {
	font-size: 20px;
}

.level-h4-text {
	margin: 3%;
	font-size: 35px;
	font-family: "Lexend", sans-serif;
	font-weight: 600;
}

/*----Game.html styles----*/

.main-bg-game {
	background: url(../images/main-bg-sm.jpg) no-repeat center center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	border-radius: 1.5rem;
	padding: 2% 3.5%;
	position: relative;
	max-width: 75vw;
}

.main-overlay-game {
	background-color: rgba(7, 4, 60, 0.8);
	color: white;
	padding: 2% 2%;
	border-radius: 1.5rem;
}

/*-- top buttons and info--*/
.top-row {
	margin-bottom: 4%;
}

.btn-game-menu {
	color: black;
	background-image: linear-gradient(to right top,
			#e597f6,
			#d27ff0,
			#bd67eb,
			#a64fe7,
			#8a38e3);
	border-color: #3a096f;
	border-radius: 0.5rem;
	font-size: 20px;
	border: none;
	padding: 0.5% 0;
}

.btn-game-menu a {
	color: black;
}

.btn-game-menu:hover {
	background-image: radial-gradient(circle,
			#6ee4ef,
			#6adef2,
			#69d8f4,
			#6bd1f5,
			#70caf5);
	border-color: black;
	cursor: pointer;
	color: black;
}

#i-btn-game {
	padding-left: 2vw;
	padding-right: 2vw;
	color: inherit;
	background-color: transparent;
	border: none;
	padding: 0;
}

#start-game-button {
	font-size: 35px;
}

.icon {
	font-size: 28px;
	text-decoration: none;
}

.icon:hover {
	cursor: pointer;
}

.ilevel-text {
	display: flex;
	align-items: center;
	justify-content: center;
}

#level-indicator {
	font-size: 30px;
	font-family: "Lexend", sans-serif;
	font-weight: 600;
	margin-bottom: 0;
}

#game-title {
	font-size: 30px;
	font-family: "Audiowide", sans-serif;
	font-weight: 600;
	text-decoration: none;
	color: white;
}

#game-title:hover {
	color: #6ee4ef;
	cursor: pointer;
}

.no-line {
	text-decoration: none;
}

/*-- start game large button--*/
.start-container {
	background-image: linear-gradient(to right top,
			#ea505a,
			#f2624a,
			#f57639,
			#f28b27,
			#eba012);
	border-color: black;
	cursor: pointer;
	border-radius: 0.5rem;
	margin: 0 3% 3% 3%;
	height: 7vw;
	width: 27vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* hide must come second so that the display style is set correctly  */
.hide {
	display: none;
}

#start-game-button:hover {
	background-image: radial-gradient(circle,
			#6ee4ef,
			#6ee4ef,
			#6ee4ef,
			#6ee4ef,
			#6ee4ef);
}

.no-hover-effect:hover {
	border: transparent !important;
	box-shadow: none !important;
	background-image: inherit;
	text-decoration: none;
	transition: none !important;
	transform: none;
	background-image: radial-gradient(circle,
			#6ee4ef,
			#6ee4ef,
			#6ee4ef,
			#6ee4ef,
			#6ee4ef);
}

.btn.no-hover-effect:hover {
	transform: none !important;
}

.score-container {
	background-image: radial-gradient(circle,
			#eceaf3,
			#e5e1f1,
			#ddd8f0,
			#d5d0ee,
			#cdc7ed);
	border-color: black;
	cursor: pointer;
	border-radius: 0.5rem;
	margin: 2vw;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 7vw;
	width: 12vw;
}

#score {
	font-family: "Lexend", sans-serif;
	font-weight: 600;
	color: black;
	font-size: 20px;
	padding: 25% 0;
}

.time-container {
	background-image: radial-gradient(circle,
			#eceaf3,
			#e5e1f1,
			#ddd8f0,
			#d5d0ee,
			#cdc7ed);
	border-color: black;
	cursor: pointer;
	border-radius: 0.5rem;
	margin: 2vw;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 7vw;
	width: 12vw;
}

#timer {
	font-family: "Lexend", sans-serif;
	font-weight: 600;
	color: black;
	font-size: 25px;
	padding: 25% 0;
}

/*-- game play display--*/

#quiz-box-container {
	background-image: linear-gradient(to right top,
			#ea505a,
			#f2624a,
			#f57639,
			#f28b27,
			#eba012);
	border-color: black;
	cursor: pointer;
	border-radius: 0.5rem;
	margin: 0 3% 3% 2%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 11vw;
	width: 11vw;
}

#quiz-letter {
	font-family: "Lexend", sans-serif;
	font-weight: 600;
	color: black;
	font-size: 30px;
}

#player-answer {
	font-family: "Lexend", sans-serif;
	font-weight: 600;
	color: black;
	font-size: 30px;
	outline: 0px solid transparent;
	color: white;
}

#answer-box-container {
	background-image: linear-gradient(to right top,
			#ea505a,
			#f2624a,
			#f57639,
			#f28b27,
			#eba012);
	border-color: black;
	cursor: pointer;
	border-radius: 0.5rem;
	margin: 0 2% 3% 3%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 11vw;
	width: 11vw;
}

#keypad-box {
	display: none;
}

/*-Game over-*/

#message {
	font-size: 35px;
	font-family: "Audiowide", sans-serif;
	font-weight: 600;
	font-style: normal;
	color: white;
}

#reset-game-two {
	text-decoration: none;
	color: greenyellow;
}

.show {
	display: none;
}

/*-Media Query-*/

/* If the screen size is 1100px wide or less */
@media screen and (max-width: 1250px) {

	#game-title,
	#level-indicator {
		font-size: 24px;
	}
}

/* If the screen size is 1024px wide or less */

@media screen and (max-width: 1024px) {
	/*----Index.html MQ styles----*/

	.home-buttons {
		padding-right: 0;
		padding-left: 0;
	}

	#start-game {
		color: black;
		font-size: 35px;
	}

	#game-title,
	#level-indicator {
		font-size: 22px;
	}

}

@media screen and (max-width: 921px) {

	#game-title,
	#level-indicator {
		font-size: 20px;
	}
}


/* If the screen size is 840px wide or less */
@media screen and (max-width: 840px) {

	#game-title,
	#level-indicator {
		font-size: 18px;
	}
}

/* If the screen size is 766px wide or less */

@media screen and (max-width: 766px) {
	/*----Index.html MQ styles----*/

	body {
		background-color: black;
		margin: 10% 10%;
		display: block;
	}

	.main-bg-home {
		width: auto;
	}

	.title {
		font-size: 8vw;
	}

	.btn-home,
	.btn-level {
		font-size: 15px;
		padding: 4%;
	}

	.main-bg-game {
		padding: 3% 5%;		
		margin-top: 20%;
	}

	.level-h4-text {
		font-size: 25px;
	}

	.start-container {
		width: 80%;
		margin: 2% 10%;
		height: 14vw;
	}

	.time-container {
		width: 80%;
		margin: 2% 10%;
	}

	.score-container {
		width: 80%;
		margin: 0 10%;
	}

	#quiz-box-container {
		height: 26vw;
		width: 26vw;
		margin: 0 3% 3% 0;
	}

	#answer-box-container {
		height: 26vw;
		width: 26vw;
		margin: 0 0 3% 3%;
	}

	.start-container {
		margin: 0 3% 2.5% 3%;
	}

	.top-row {
		margin-bottom: 2.5%;
	}

	#game-title {
		font-size: 25px;
	}

	#level-indicator {
		font-size: 25px;
	}

	#message {
		font-size: 25px;
		margin: 0;
	}

	.margin {
		margin: 2% 1%;
	}

	.title {
		font-size: 8vw;
	}

	.description {
		font-size: 22px;
		padding-top: 1.5vh;
	}

	.home-buttons {
		margin-top: 1.5vh;
	}


	.main-bg-level {
		padding: 3% 5%;
		max-width: 65vw;
	}

	.block {
		display: none;
	}

	.show {
		display: block;
	}
}


/* If the screen size is 680px wide or less */
@media screen and (max-width: 680px) {

	.btn-game-menu {
		font-size: 12px;
	}

	#level-indicator,
	#game-title {
		font-size: 22px
	}

	#quiz-letter {
		font-size: 25px;
	}

	#player-answer {
		font-size: 25px;
	}

}

/* If the screen size is 580px wide or less */
@media screen and (max-width: 580px) {

	.score-container {
		margin: 1% 10%;
	}

	.start-container {
		margin: 1% 3% 3% 3%;
	}

	#message {
		font-size: 20px;
		margin-top: 1.5%;
	}

	.main-bg-game {
		padding: 3% 5%;
	}

	#level-indicator,
	#game-title {
		font-size: 20px
	}
}

/* If the screen size is 520px wide or less */
@media screen and (max-width: 520px) {

	
	#timer {
		font-size: 20px;
	}

	#level-indicator,
	#game-title {
		font-size: 18px
	}

	#quiz-letter {
		font-size: 20px;
	}

	#player-answer {
		font-size: 20px;
	}

	.main-bg-home {
		min-height: 85vh;
	}

	.main-overlay-home {
		min-height: 75vh;
	}

	.main-bg-game {	min-height: 90vh;
		
	}

	/* .main-overlay-game {
		min-height: 65vh;
	} */

	.overlay-game-two {
		margin-top: 3%;
		min-height: 35vh;
		background-color: rgba(7, 4, 60, 0.8);
		color: white;
		padding: 2% 4%;
		border-radius: 1.5rem;
	}

	#phone-keypad {
		font-size: 6vw;
		font-family: "Audiowide", sans-serif;
		font-weight: 600;
		font-style: normal;
	}

	#keypad-box {
		display: block;
	}

	.top-boarder-container {
		margin-bottom: 10vh;
	}

	.description {
		margin-bottom: 5vh;
	}

	.title {
		font-size: 12vw;
	}

}


/* If the screen size is 465px wide or less */

@media screen and (max-width: 465px) {
	
	.btn-home,
	.btn-level {
		margin: 1vh;
		font-size: 15px;
	}

	.description {
		font-size: 18px;
	}

	.level-h4-text {
		font-size: 23px;
	}

	.btn-level {
		font-size: 15px;
	}

	.main-overlay-game{margin-top: 2%;}
	

		.icon {
		font-size: 20px;
	}

	#level-indicator,
	#game-title {
		font-size: 16px
	}

	#score {
		font-size: 10px;
	}

	#timer {
		font-size: 15px;
	}

	#message {
		font-size: 18px;
	}
}


@media screen and (max-width: 420px) {

	#level-indicator,
	#game-title {
		font-size: 14px
	}

	#message {
		font-size: 15px;
	}

	.overlay-game-two {		
		min-height: 40vh;
}
}

/* If the screen size is 382px wide or less */

@media screen and (max-width: 382px) {

	.description {
		font-size: 15px;
		padding-top: 1.5vh;
	}

	.level-h4-text {
		font-size: 20px;
		margin: 4vh 0 2vh 1.5vh;
	}

	#start-game-button {
		font-size: 25px;
	}

	#info-btn {
		padding: 1vh 1.9vh;
		font-size: 15px;
	}

	#score {
		font-size: 12px;
		padding: 20% 0;
	}

	#timer {
		font-size: 12px;
		padding: 20% 0;
	}

	#quiz-letter {
		font-size: 15px;
	}

	#player-answer {
		font-size: 15px;
	}

	#message {
		font-size: 15px;
	}

	#level-indicator,
	#game-title {
		font-size: 12px
	}

	#message {
		font-size: 12px;
	}

	.main-bg-game {min-height: 85vh;}
	
}

/* If the screen size is 326px wide or less */
@media screen and (max-width: 326px) {
	#message {
		font-size: 12px;
	}

	#level-indicator,
	#game-title {
		font-size: 10px
	}

	#message {
		font-size: 10px;
	}

	.main-bg-game{padding: 5% 7%;}

#start-game-button {font-size: 18px ;}

}